<h3 class="display-2" style="font-size: 2rem; color:indianred">WELCOME TO THE SYSTEM TO MANAGE INGREDIENTS AND MEDICINES!</h3>
<div class="row w-100 d-flex">
    <div style="width:30rem;" class="card text-center m-2">
        <div class="card-header">
            Manage Ingredientes
        </div>
        <div class="card-body">
            <span style="align-content: center;color: rgb(207, 210, 30);transform: scale(5);">
                <mat-icon aria-hidden="false" fontIcon="opacity"></mat-icon>
            </span>
            <h5 class="card-title">Get to Ingredientes Module</h5>
            <button class="btn btn-success mb-1 mt-1" [routerLink]="['/ingrediente/ingredientes']">
                Manage Ingredientes</button>
        </div>
    </div>
    <div style="width: 25rem;" class="card text-center m-2">
        <div class="card-header">
            Manage Medicines
        </div>
        <div class="card-body">
            <span style="align-content: center;color: rgb(210, 147, 30);transform: scale(5);">
                <mat-icon aria-hidden="false" fontIcon="receipt"></mat-icon>
            </span><h5 class="card-title">Get to Medicines Module</h5>
            <button class="btn btn-success mb-1 mt-1" [routerLink]="['/medicine/medicines']">
                Manage Medicines</button>
        </div>
    </div>
</div>